@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@400;700&family=Open+Sans:wght@300&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* ENCABEZADO HOME **/
* {
    margin:0;
    padding:0;
}

html {
    scroll-behavior: smooth;
}

html, body {
    min-height: 100%;
}

.pages-common {
    text-align: center;
    color: white;
    margin-top: 10px; 
    margin-bottom: 20px;
    background-color: #223649;
    padding:5px; 
    border-radius: 10px;
}

a {
    text-decoration: none;
}
.pages-common:hover{
    background-color: #0056b3;
}

.header-common {
    background-color: #223649;
    padding: 10px 0;
}

.nav-common {
    text-align: center;
    padding:5px;
    border-radius: 10px;
}

.nav-common a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

/* Estilos para CONTACT */

.body-contact {
    background-image: url("../IMG/fondo.jpeg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    font-family: 'Roboto Condensed', serif;
} 

.title-contact {
    text-align: center;
    color: white;
    margin-top: 10px; 
    margin-bottom: 20px;
    background-color: #223649;
    padding:5px; 
    border-radius: 10px;
    font-family: 'Playfair Display', serif; 
}
.container {
    width: 40%;
    margin: 20px auto;
    padding: 20px;
}

.form-contact {
    color: white;
    max-width: 500px;
    margin: 50px auto 50px auto; 
    padding: 50px;
    background-color: #223649;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(91, 48, 48, 0.1);
}

.form-contact label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-contact input[type="text"],
.form-contact input[type="email"],
.form-contact textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-contact textarea {
    resize: vertical;
}

.form-contact button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #314b64;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-contact button:hover {
    background-color: #0056b3;
}

.form-contact .error,
.form-contact .success {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

.form-contact .error {
    background-color: #dc3545;
    color: #fff;
}

.form-contact .success {
    background-color: #28a745;
    color: #fff;
}


.form-contact label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Estilos para el checkbox y su etiqueta */
.form-contact input[type="checkbox"],
.form-contact label[for="interes"] {
    display: inline-block;
    vertical-align: middle; /* Alineación vertical */
}

.form-contact label[for="info"] {
    margin-right: 30px; /* Espacio entre el checkbox y la etiqueta */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
}

/* Estilos para los elementos de radio y sus etiquetas */
.radio-group input[type="radio"],
.radio-group label {
    display: inline-block;
    vertical-align: middle; /* Alineación vertical */
}

.radio-group label {
    margin-right: 10px; /* Espacio entre los botones de radio y las etiquetas */
}

/* Estilos para el select */
.form-contact select {
    width: calc(100% - 10px); /* Ajuste del ancho para compensar el espacio del botón de radio */
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para el botón de enviar */
.form-contact button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #314b64;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; /* Espacio adicional entre el select y el botón */
}

.form-contact button:hover {
    background-color: #0056b3;
}


/* Estilos para footer*/

.footer-common {
    display: grid;
    align-content: stretch;
    margin-top: 30px;
    text-align: center;
    color: white;
    background-color: #223649;
    padding: 5px; 
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.footer-content {
    background-color: #223649;
    display: inline-block;
    border-radius: 10px;
    padding: 20px 10px;
}


.footer-icons {
    margin-top: 10px;
    padding-bottom: 25px;
}

.icons {
    margin-right: 5px;
    margin-left: 5px;
    text-decoration: none;
    color: white;
    margin: 0 5px;
}
#symbol:hover {
    transform: scale(2.1);
}

.mapa {
    padding-top: 25px;
}




@media only screen and (max-width: 768px) {
    
    #menu {
        visibility: visible;
    }
    #label {
        visibility: visible;
    }
    ul{
        display: none;
      }
     
      
      input:checked  ~ ul{
        display:block;
      }
      input {
        display: none;
       }
       label {
        box-sizing: border-box;
        display: inline-block;
        border: 1px solid black;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;
      }
      li {
        display: block;
        background: lightgrey;
        margin: 0;
        padding: 10px;
        list-style: none;
        border-bottom: 1px solid grey;
      }
      .container {
        display: inline;
      }
      .form-contact label {
        display: contents;
        margin-bottom: 10px;
        font-weight: bold;
    }
    .form-contact input[type="text"] {
        display: block;
    }

    

    .footer-content {
        padding-right: 40px;
        padding-left: 40px;
        display: grid;
        justify-content: center;
    }
    .mapa {
        width: 80%;
        padding-top: 25px;
        border: 0;
        place-self: center;
    }
}

@media only screen and (min-width: 768px) {
        ul {
            display: flex;
        }
}

