* {
    margin:0;
    padding:0;
}

html {
    scroll-behavior: smooth;
}

html, body {
    min-height: 100%;
}

.pages {
    padding: 15px;
    list-style: none;
}
a {
    text-decoration: none;
}

.header-index {
    transition: all 1s;
}

.header-index:hover {
    transform: scale(1.1);
}

body-butterflies {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.body-butterflies {
    background-image: url("../IMG/fondo.jpeg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
} 

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #223649;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: white;
    padding: 20px;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.filter {
    flex: 1;
    min-width: 200px;
}

label {
    font-weight: bold;
    color: #555;
}

select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color 0.3s ease;
}

select:focus {
    border-color: #007bff;
}

/* Estilo para el botón de búsqueda */
.search-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #0056b3;
}



/*Estilos para BUTTERFLIES*/

.nav-butterflies {
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    padding: 15px;
    
}




/* Estilos para footer*/
.footer {
    background-color: #223649;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer p {
    margin: 0;
}

.footer-icons {
    margin-top: 10px;
}

.icons {
    color: white;
    margin: 0 5px;
}


body footer {
    position: static;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
    
}
.footer-icons {
    padding-bottom: 25px;
}
.icons {
    margin-right: 5px;
    margin-left: 5px;
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 768px) {
    
    #menu {
        visibility: visible;
    }
    #label {
        visibility: visible;
    }
    ul{
        display: none;
      }
     
      
      input:checked  ~ ul{
        display:block;
      }
      input {
        display: none;
       }
       label {
        box-sizing: border-box;
        display: inline-block;
        border: 1px solid white;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;
      }
      li {
        display: block;
        background: lightgrey;
        margin: 0;
        padding: 10px;
        list-style: none;
        border-bottom: 1px solid grey;
      }
    
}

@media only screen and (min-width: 768px) {
        ul {
            display: flex;
        }
}

.footer {
    margin-top: 1rem;
    background-color: white;
    /* height: 20vh; */
  }
  .footer__list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }
  
  .footer__list__item {
    display: flex;
    list-style: none;
    max-width: 10vw;
    margin: 0rem 2rem;
  }
  
  .footer__list__item__link {
    color: white;
    text-decoration: none;
    margin: 0.5rem 1rem;
  }
  
  .footer__list__item__link:hover {
    color: var(--color-comprar-tickets);
  }
 
