* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html, body {
    min-height: 100%;
}

.pages {
    padding: 15px;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.header-index {
    transition: all 1s;
}

.header-index:hover {
    transform: scale(1.1);
}

.body-butterflies {
    font-family: Arial, sans-serif;
}

body {
    background-image: url("../IMG/fondo.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: white;
    padding: 20px;
}

.search-section,
.advanced-search-container {
    background-color: #223649;
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-section h2,
.advanced-search-container h2 {
    text-align: center;
    margin-bottom: 10px;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.filter {
    flex: 1;
    min-width: 200px;
}

label {
    font-weight: bold;
    color: white;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color 0.3s ease;
    margin-bottom: 10px;
}

input[type="text"]:focus {
    border-color: #007bff;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #030f1b;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.search-results {
    margin-top: 10px;
    max-height: 200px;
    overflow-y: auto;
}

.footer {
    background-color: #223649;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 1rem;
}

.footer p {
    margin: 0;
}

.footer-icons {
    margin-top: 10px;
}

.icons {
    color: white;
    margin: 0 5px;
}
